{% extends "layout.njk" %}
{% block navbar%}
<header>
    <nav>
        <img src="" alt="">
    </nav>
</header>

{% endblock %}
{% block content %}
<main class="container">
        <h1>{{ title }}</h1>
        <p>{{ text }}</p>
</main>
{% endblock %}